boolean.py==4.0
click==8.1.7
ConfigArgParse==1.5.3
isodate==0.6.1
license-expression==30.2.0
packageurl-python==0.15.0
ply==3.11
pyparsing==3.1.2
PyYAML==6.0.1
rdflib==7.0.0
six==1.16.0
spdx-tools==0.8.0a2
typeguard==4.0.0
typing_extensions==4.10.0
uritools==4.0.2
xmltodict==0.13.0
